@font-face {
    font-family: "RobotoBold";
    src: local('RobotoBold'), local('RobotoBold'),
    url('/fonts/RobotoBold.ttf') format('truetype');
}
@font-face {
    font-family: "RobotoLight";
    src: local('RobotoLight'), local('RobotoLight'),
    url('/fonts/RobotoLight.ttf') format('truetype');
}
@font-face {
    font-family: "RobotoRegular";
    src: local('RobotoRegular'), local('RobotoRegular'),
    url('/fonts/RobotoRegular.ttf') format('truetype');
}

@font-face {
    font-family: "TTNormsBold";
    src: local('TTNormsBold'), local('TTNormsBold'),
    url('/fonts/TTNormsBold.ttf') format('truetype');
}
@font-face {
    font-family: "TTNormsExtraBold";
    src: local('TTNormsExtraBold'), local('TTNormsExtraBold'),
    url('/fonts/TTNormsExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: "TTNormsLight";
    src: local('TTNormsLight'), local('TTNormsLight'),
    url('/fonts/TTNormsLight.ttf') format('truetype');
}
@font-face {
    font-family: "TTNormsMedium";
    src: local('TTNormsMedium'), local('TTNormsMedium'),
    url('/fonts/TTNormsMedium.ttf') format('truetype');
}
@font-face {
    font-family: "TTNormsRegular";
    src: local('TTNormsRegular'), local('TTNormsRegular'),
    url('/fonts/TTNormsRegular.ttf') format('truetype');
}
@font-face {
    font-family: "RobotoCondensed";
    src: local('RobotoCondensedRegular'), local('RobotoCondensedRegular'),
    url('/fonts/RobotoCondensedRegular.ttf') format('truetype');
}

.TTRegular {
    font-family: "TTNormsRegular";
}
.TTMedium {
    font-family: "TTNormsMedium";
}
.TTLight {
    font-family: "TTNormsLight";
}
.TTExtraBold {
    font-family: "TTNormsExtraBold";
}
.TTBold {
    font-family: "TTNormsBold";
}
.robotobold {
    font-family: "RobotoBold";
}
.btn {
    background: linear-gradient(270deg, #C6972A 1.04%, #EFBB42 51.04%, #C6972A 100%);
    border-radius: 40px;
    transition: all 0.5s ease;
}
.btn:hover {
    background: linear-gradient(200deg, #C6972A 1.04%, #EFBB42 51.04%, #C6972A 100%);
}
.btn a {
    font-family: TTNormsBold;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.btn-main-block {
    width: 175px;
    height: 40px;
}
.btn-pictures {
    width: 200px;
    height: 40px;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
#first-block .col-lg-3 {
    padding-left: 8%;
    text-align: center;
}
#first-block .col-lg-3 img {
    width: 35%;
}
.module-border-wrap{
    position: absolute;
    top:25%;
    right:-60%;
    transform: translateX(-13%);
    width: 19em;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 6%;
    height: 20em;
    margin: auto;
    background: transparent;
    border: 13px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #E3B345 10%, #FDF7BC 80%, #DABC67 90%, #E3B852 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #E3B345 10%, #FDF7BC 80%, #DABC67 90%, #E3B852 100%);
    border-image: linear-gradient(to bottom right, #E3B345 10%, #FDF7BC 80%, #DABC67 90%, #E3B852 100%);
    border-image-slice: 1;
}
#gallery .item img{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}
#gallery .owl-one {
    padding-top: 6%;
    padding-bottom: 6%;
    transform: translateX(15%);
}
#gallery {
    overflow: hidden;
}
.blokincarousel {
    background: #FFFFFF;
    box-shadow: 0px 34px 54px rgba(0, 0, 0, 0.25);
    width: 45%;
    height: 65%;
    position: absolute;
    z-index: -2;
    top:30%;
    margin-left: 9%;
}
.counter {
}
@keyframes pulse_animation {
    0% { box-shadow: 0 0 0 0 rgba(208, 160, 48, 0.56); }
    100% { box-shadow: 0 0 0 12px rgba(254, 206, 104, 0) }
}

.pulse-wrapper {
    display: flex;
    width: 20%;
    height: 20%;
    /*overflow: hidden;*/
}
.pulse-wrapper .pulse {
    margin: auto;
}
.pulse-wrapper .pulse span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fece68;
    transition: .3s;
    animation: pulse_animation 1.8s infinite;
}
.pulse-hover {
    transform: scale(1.8);
    cursor: pointer;
}
.pulse-wrapper1 #pulse span {

}
.pulse-wrapper #pulse span:nth-child(2) {
    animation-delay: 0.3s; /* Start the second wave with some delay */
}
.carousel-index {
    font-size: 25px;
    font-family: 'RobotoCondensed';
}
.carousel-delimiter {
    font-family: 'RobotoCondensed';
    position: absolute;
    right: -10px;
    top: 10px;
    font-size: 12px;
}
.status-carousel {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 40px;
}
.pointer {
    cursor: pointer !important;
}
.point-border
{
    cursor: pointer;
    border-radius: 10px;
    background: white!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.point-border .text-white
{
    color: #C6972A!important;
}
.anim1 {
    position: absolute;
    top: 22%;
    left: 49%;
}
.anim2 {
    position: absolute;
    top: 30%;
    left: 22%;
}
.anim3 {
    position: absolute;
    top: 59%;
    right: 32%;
}
.anim4 {
    position: absolute;
    top: 65%;
    left: 10%;
}
.anim5 {
    position: absolute;
    top: 52%;
    right: 9%;
}
.anim6 {
    position: absolute;
    top: 0;
    right: 6%;
}
.btn-submit:focus {
    outline: none!important;
}
.form-control {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
    border-color: #c6972a;
}
.btn-submit {
    position: absolute;
    right: 0;
}
#advantages .col-lg-6 h4 {
    font-size: 25px;
    line-height: 30px;
}
.line {
    width: 1px;
    height: 4em;
    background: #000;
    margin-right: auto;
    margin-left: auto;
}
    .number-item span {
    font-family: TTNormsExtraBold;
    font-size: 100px;
    line-height: 100px;
    color: #C6972A;
}
.transformblock {
    transform: translateX(-13%);
}
.padleft {
    padding-left: 10%;
}
.form .form-control {
    background: transparent;
    border-bottom: 1px solid #DFDFDF;
    font-family: TTNormsLight;
    margin-top:5%;
}
.form .form-control:focus {
    background-color: transparent;
    border-color: #c6972a;
}
.form .btn-submit {
    position: relative;
    width: 150px;
}
.form form {
    width: 70%;
}
.nav-item.button {
    padding-top: 6px!important;
    padding-bottom: 10px!important;
    height: 39px;
    margin-top: 9px;
}
.nav-item.button:hover {
    border-bottom: 1px solid #fff;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: -300px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.shadow-hover
{
    transition: 0.5s;
}
.shadow-hover:hover
{
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}
.owl-two .owl-nav
{
    display: block!important;
    padding-top:4%;
}
.owl-two .owl-nav .owl-prev
{
    position: absolute;
    width:41px;
    height:17px;
    background-image: url('/images/prev.png')!important;
    top:100%;
    right: 15%;
}
.owl-two .owl-nav .owl-prev span
{
    display:none;
}
.owl-two .owl-nav .owl-next
{
    position: absolute;
    width:41px;
    height:17px;
    background-image: url('/images/Arrow.png')!important;
    background-repeat: no-repeat;
    top:100%;
    right:0%;
}
.owl-two .owl-nav .owl-next span
{
    display:none;
}


.owl-one .owl-nav
{
    display: block!important;
    padding-top:4%;
}
.owl-one .owl-nav .owl-prev
{
    position: absolute;
    width:34px;
    height:14px;
    background-image: url('/images/prev.png')!important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
    top:85%;
    right: 72%;
}
.owl-one .owl-nav .owl-prev span
{
    display:none;
}
.owl-one .owl-nav .owl-next
{
    position: absolute;
    width:34px;
    height:14px;
    background-image: url('/images/Arrow.png')!important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
    top:85%;
    right:65%;
}
.owl-one .owl-nav .owl-next span {
    display: none;
}
.solid-nav
{
    background: white!important;
    top:0%!important;
}
.menu-point-black
{
    color:black!important;
    border-color: black!important;
}
.invert-100
{
    filter: invert(100%)!important;
}
@media only screen and (max-width: 700px){
    .text-main
    {
        background-image: url('/images/about_us.png');
        font-size:200%!important;
        padding: 15% 10%;
    }
    .text-first
    {
        font-size:180%!important;
    }
    .text-second
    {
        font-size: 130%!important;
    }
    .trans
    {
        transform: translateX(0%);
    }
    .owl-nav
    {
        display:none;
    }
    .transformblock
    {
        transform: translateX(0%);
    }
}

.dot {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #ffffff;
    z-index: 2;
}
.backzone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}
/* CSS */
* {
    margin: 0; padding: 0;
}

.video-container {
    overflow: hidden;
    /*width:100%;*/
    background: #edeae8;
    position: relative;
}

.vids-pc {
    position: absolute;
    width:100%;
    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.vids-mb {
    position: absolute;
    height:100%;
    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.backdrop {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000082;
}
